<div class="container">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:rgba(209, 236, 207,0.6);">
      <div class="container py-5">
        <h1 class="display-2 pb-5">Ucubed News</h1>
        <div class="row">
          <div class=" p-md-4">
            <p class="fs-4">Read, watch and hear Web3 digital skills news and information</p>
            <p class="fs-4 pb-3"></p>

            <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free workshop</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">So what is Web3?</h2>
        <p class=" fs-4">Your mind is going to be blown!</p>
        <div class="row">

        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">Protecting yourself in Web3</h2>
        <p class=" fs-4">There are many ways you can lose money in web3 - here's what you need to know.<p>
        <div class="row">
          <!-- <p class=" fs-4">Book a call with a Ucubed founder</p> -->
        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>
