<section class="hero_main"  data-bg-color="#FC7942">
    <div class="container">
        <div class="content">
          <div class="row d-flex">
            <div class="col-md-7">
              <%= image_tag 'catwow.gif', class: 'home-image image-fluid d-block d-sm-none img-rounded mx-auto mb-5', style: "transform: rotate(-15deg);" %>
              <div class="section_title">
                <h1 class="wow fadeInLeft" data-wow-delay="0.1s">Ready to <br>have your <br> <span class="text-white">mind blown?</span></h1>
                <p class="lead wow fadeInLeft col-md-8" data-wow-delay="0.3s"><strong>Forget crypto bros and NFT scammers, web3 is about so much more</strong> — find out how it's changing your world and the opportunities that await you in our experiential workshops!</p>
                <p class="lead wow fadeInLeft col-md-10" data-wow-delay="0.3s"><strong>Free, face-to-face workshops in Melbourne start in February 2023.</strong> </p>
              </div>
              <div class="btn_area pb-sm-5 mb-xs-5">
                <a href="contact.html" class="bg_btn wow fadeInLeft magnet" data-wow-delay="0.5s">
                  Join a Workshop
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="col-md-4 align-self-center">
              <%= image_tag 'birdwow.gif', class: 'home-image image-fluid img-rounded float-start d-block', style: "transform: rotate(15deg);" %>
              <%= image_tag 'catwow.gif', class: 'home-image image-fluid img-rounded float-start d-none d-md-block', style: "transform: rotate(-20deg);" %>
            </div>
          </div>
        </div>
    </div>

</section>

<section class="digital_agency">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="section_img wow fadeInLeft" data-wow-delay="0.1s">
                    <%= image_tag 'drake.jpeg', class: 'image-fluid square digital_agency-image', style: "transform: rotate(10deg);" %>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="content">
                    <div class="section_title wow fadeInLeft" data-wow-delay="0.3s">
                        <h2>Walk on the wild side with Web3</h2>
                    </div>
                    <p class="wow fadeInLeft" data-wow-delay="0.5s">Feel the power of web3 technology in your own hands and see how you can be a trailblazer and be ready to jump at the opportunities.</p>
                    <p class="wow fadeInLeft" data-wow-delay="0.5s">Whether you want to make a lot of money, or you want to change the world, understanding web3 will help you achieve your goals.</p>
                    <ul class="agency_list list-unstyled">
                      <li class="wow fadeInLeft" data-wow-delay="1.1s"><i class="fa-solid fa-arrow-right"></i>
                        Earn digital badges to prove what you've learned!
                      </li>
                      <li class="wow fadeInLeft" data-wow-delay="0.7s"><i class="fa-solid fa-arrow-right"></i>
                        Designed for maximum fun and value</li>
                      <li class="wow fadeInLeft" data-wow-delay="0.9s"><i class="fa-solid fa-arrow-right"></i>
                        Even more fun with friends, family or co-workers
                      </li>
                      <li class="wow fadeInLeft" data-wow-delay="1.1s"><i class="fa-solid fa-arrow-right"></i>
                        Prepare for a life-changing experience!
                      </li>
                    </ul>
                    <a href="/free-web3-workshops" class="bg_btn_color wow fadeInLeft" data-wow-delay="1.3s">Workshop details</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="aword" data-bg-color="#F5DB6E">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="wow fadeInLeft" data-wow-delay="0.1s">Here's what's going down in the 'hood.</h2>
        </div>
        <div class="min_aword_area">
            <div class="singe_aword wow fadeInLeft" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="left_content">
                            <img src="assets/img/icon/award.png" alt="">
                            <div class="content">
                                <h5><a href="#">The World of Web3</a></h5>
                                <span>2pm - 4pm, 18<sup>th</sup> February 2023</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="right_content">
                            <p>Free, face-to-face workshop.<br>Library at the Dock, Docklands, Melbourne</p>
                            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="singe_aword wow fadeInLeft" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="left_content">
                            <img src="assets/img/icon/award.png" alt="">
                            <div class="content">
                                <h5><a href="contact.html">Best Design Award</a></h5>
                                <span>March 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="right_content">
                            <p>Curabitur auctor metus et cursus feugiat phasellus tempus nibh non erat ultricies in
                                fermentum</p>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="singe_aword wow fadeInLeft" data-wow-delay="0.7s">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="left_content">
                            <img src="assets/img/icon/award.png" alt="">
                            <div class="content">
                                <h5><a href="contact.html">Weekly Top Viewed Product</a></h5>
                                <span>August 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="right_content">
                            <p>Curabitur auctor metus et cursus feugiat phasellus tempus nibh non erat ultricies in
                                fermentum</p>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="singe_aword wow fadeInLeft" data-wow-delay="0.9s">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="left_content">
                            <img src="assets/img/icon/award.png" alt="">
                            <div class="content">
                                <h5><a href="contact.html">Best Design of the Year</a></h5>
                                <span>October 2018</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="right_content">
                            <p>Curabitur auctor metus et cursus feugiat phasellus tempus nibh non erat ultricies in
                                fermentum</p>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="contact.html" class="bg_btn_color wow fadeInLeft" data-wow-delay="1.1s">Explore all</a>
    </div>
</section>
