<div class="container">
  <div class="">
      <!-- <h1 class="display-1 text-center text-uppercase"><span class="underline-title">Walk</span> on the <br><span class="underline-title">wild</span> side with <br><span class="underline-title">Web3</span></h1> -->
      <h1 class="display-1 text-center text-uppercase"><span class="underline-title">Want</span> to be a <br><span class="underline-title">web3</span> pioneer?
        <!-- <br><span class="underline-title">Web3</span> -->
      </h1>
  </div>
</div>
