<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" aria-label="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://reezhdesign.com" target="_blank" rel="noopener">ReeZh Design</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdown05">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="site-content">
  <article class="hentry">
    <header class="entry-header">
      <div class="starter-template text-center py-5 px-3">
        <h1>Bootstrap 5 Starter Template</h1>
        <p class="lead">Use this document as a quick way to start a new project.
          This pen is an example of using the Bootstrap 5 Framework.</p>
        <p>current version Bootstrap 5.1.3</p>
      </div>
      <div class="sekrol d-none d-lg-block">
        <div class="tikus">
          <div class="pemutar"></div>
        </div>
      </div>
    </header>
    <section class="entry-content">
      <div class="container alignfull d-flex justify-content-center align-items-center vh-100">
        <h2>Work Canvas</h2>
      </div>
      <h2>Description</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus laudantium nam aliquid officiis dignissimos totam sequi ipsam velit et. Deserunt soluta est voluptates corporis molestias quo eveniet inventore neque error.</p>
      <h3>How's To?</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio neque animi eveniet nihil consectetur ea, quod nulla totam eius error dolore id sunt quis repudiandae repellendus non saepe aut, numquam corporis, amet aliquid ullam illo. Voluptatem asperiores harum, magni nobis voluptatibus distinctio illum dolorem itaque expedita laudantium praesentium blanditiis autem.</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Facere numquam neque minima odit.</li>
        <li>Ratione veniam eum accusantium debitis!</li>
        <li>Magnam, nobis. Nulla, doloribus reprehenderit.</li>
        <li>Culpa commodi cum ipsa provident!</li>
      </ul>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fugit nostrum molestiae omnis repellat distinctio quos. Officia optio, ad id totam delectus rerum exercitationem voluptatum error mollitia magnam debitis accusamus.</p>
      <h4>Conclusion</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum numquam doloribus, alias aliquid eligendi natus quod iusto distinctio, in cum eos nam reiciendis? Voluptates dolore hic corporis. Aperiam, quibusdam.</p>
    </section>
    <footer class="entry-footer">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 col-md-6 text-start">
            <p class="publish-on">Published: February 20<sup>th</sup>, 2020
            </p>
          </div>
          <div class="col-12 col-md-6 text-end">
            <p class="writer">Created by: ReeZh Design
            </p>
          </div>
        </div>
      </div>
    </footer>
  </article>
</main><!-- /.container -->
<footer class="site-footer">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-5">
      <div class="col">
        <div class="card border-0 h-100">
          <div class="card-body">
            <h4 class="card-title">About</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, enim officiis quas beatae molestiae, nisi porro quia numquam sint, officia vel amet quos. Nemo quasi repellat cupiditate! Vero, nobis exercitationem.</p>
            <a href="https://reezhdesign.com/" class="btn btn-sm btn-outline-primary" target="_blank" rel="noopener">More About Us</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 h-100">
          <div class="card-body">
            <h4 class="card-title">Services</h4>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <ul>
              <li><a href="#">User Interface & Experience</a></li>
              <li><a href="#">Website Development</a></li>
              <li><a href="#">Search Engine Optimization</a></li>
            </ul>
            <a href="https://reezhdesign.com/kontak/" class="btn btn-sm btn-outline-success" target="_blank" rel="noopener">Let's Talk</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 h-100">
          <div class="card-body">
            <h4 class="card-title">Latest Posts</h4>
            <ul>
              <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
              <li><a href="">Necessitatibus, cumque? Laborum, at iusto.</a></li>
              <li><a href="#">Minus nam natus pariatur cupiditate!</a></li>
              <li><a href="#">Optio et deserunt maxime maiores.</a></li>
              <li><a href="#">Quia sit repudiandae aperiam numquam.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 h-100">
          <div class="card-body">
            <h4 class="card-title">Address</h4>
            <p class="card-text">Beverly Hills 5150, CA 90210</p>
            <p class="card-text">Visit and connect with social media:</p>
            <ul class="social-media list-inline fs-5">
              <li class="list-inline-item"><a href="https://www.facebook.com/reezh" target="_blank" rel="noopener"><i class="bi-facebook"></i><span> Facebook</span></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/reezhdesign" target="_blank" rel="noopener"><i class="bi-twitter"></i><span>Twitter</span></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/reezhdesign" target="_blank" rel="noopener"><i class="bi-instagram"></i><span>Instagram</span></a></li>
              <li class="list-inline-item"><a href="https://pinterest.com/reezhdesign" target="_blank" rel="noopener"><i class="bi-pinterest"></i><span>Pinterest</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3 text-center">
    <a href="https://reezhdesign.com" target="_blank" title="Jasa Website Bandung" rel="noopener">ReeZh Design</a>
  </div>
  <div class="container">
    <div class="hstack w-100 justify-content-center">
      <div class="form-check form-switch">
        <label class="form-check-label ms-3" for="lightSwitch">
        </label>
        <input class="form-check-input" type="checkbox" id="lightSwitch" />
      </div>
    </div>
  </div>
</footer>
