<div class="container">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:rgba(209, 236, 207,0.6);">
      <div class="container py-5">
        <h1 class="display-2 pb-5">Plug yourself in to a world of possibilities</h1>
        <div class="row">
          <div class=" p-4">
            <p class="fs-4">The Ucubed community spans the globe, connecting web3 pioneers, builders and leaders.</p>
            <p class="fs-4 pb-3">You can be a part of it too! </p>
            <p class="fs-4 pb-3">You'll need to have attended a Ucubed event or workshop to join the community. The best way to do that is an IRL free workshop - or an online webinar if you're not in Melbourne. </p>
            <button class="btn btn-bd-primary btn-lg" type="button">Start with a free workshop</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">What's on </h2>
        <p class=" fs-4">Upcoming Ucubed community events.</p>
        <div class="row">

        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">Global Initiatives </h2>
        <p class=" fs-4">Our international webinars and events are explained here.</p>
        <div class="row">

        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>
