<style media="screen">
  body {
    background-color: #fcf3e6;
  }
</style>

<div class="container">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:rgba(209, 236, 207,0.6);">
      <div class="container py-5">
        <h1 class="display-2 pb-5">Learning pathways at Ucubed</h1>
        <div class="row">
          <div class=" p-4">
            <p class="fs-4">Bring your unique strengths and interests and add web3 digital skills. There are opportunities that help you achieve your life goals.</p>
            <p class="fs-4 pb-3">Not sure what path to take yet?</p>
            <button class="btn btn-bd-primary btn-lg" type="button">Discover your purpose</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">Start with a workshop </h2>
        <p class=" fs-4">Not sure what path to take yet? Try a workshop to learn more and find your purpose!</p>
        <div class="row">

        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">Part time courses</h2>
        <p class=" fs-4">Face-to-face learning experiences that fit around your busy life.</p>
        <div class="row">

        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mt-5 p-md-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">Why learning with Ucubed is different</h2>
        <p class="fs-4">Then when you know your purpose, dive in deeper with a part time course.</p>
        <div class="row">

        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>
