<div class="container">
  <div class="row">
    <div class="mt-5 p-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:rgba(209, 236, 207,0.6);">
      <div class="container py-5">
        <h1 class="display-2 pb-5">Ucubed partnerships</h1>
        <div class="row">
          <div class=" p-4">
            <p class="fs-4">Ucubed partners with business, government, academia, not-for-profit organisations and NGOs.</p>
            <p class="fs-4 pb-3">Might your organisation benefit from partnering with us?</p>

            <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free workshop</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">Our current partners </h2>
        <p class=" fs-4">Check out these cool organisations.</p>
        <div class="row">

        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>

<div class="container" id="free-workshop">
  <div class="row">
    <div class="mt-5 p-5 mb-4 rounded-4 border border-dark border-5 big-box" style="background-color:#C2E4F2;">
      <div class="container py-5">
        <h2 class="display-3">Want to partner with Ucubed?</h2>
        <p class=" fs-4">Some partnership information</p>
        <div class="row">
          <p class=" fs-4">Book a call with a Ucubed founder</p>
        </div>
        <p></p>
        <!-- <button class="btn btn-bd-primary btn-lg" type="button">Start with a free IRL workshop</button> -->
      </div>
    </div>

  </div>
</div>
