<footer class="footer" data-bg-color="#D9E0DD">
        <div class="container">
            <div class="main_footer">
                <div class="row">
                    <div class="col-xl-5 col-md-6">
                        <div class="site_info logo_area wow fadeInLeft" data-wow-delay="0.3s">
                            <img src="assets/img/logo/logo.png" alt="" class="footer_logo">
                            <p>Main factor that sets us apart competition allows deliver a specialist business
                                consultancy service applies its ranging experience</p>
                            <div class="social_icons">
                                <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://bd.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mid">
                        <div class="site_info wow fadeInLeft" data-wow-delay="0.5s">
                            <h5>Contact info</h5>
                            <ul class="loc_list list-unstyled">
                                <li>Neal St, London WC2H 9PR</li>
                                <li>United Kingdom</li>
                            </ul>
                            <ul class="contact_list list-unstyled">
                                <li class="mail"><a href="mailto:info.calmor@support.com">info.calmor@support.com</a>
                                </li>
                                <li><a href="tel:44793123456">+44 1793 123 456</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 last">
                        <div class="site_info wow fadeInLeft" data-wow-delay="0.7s">
                            <h5>Subscribe newsletter</h5>
                            <form action="#" class="subscribe_form">
                                <input type="email" class="form-control" placeholder="Enter your email address">
                                <input type="submit" class="bg_btn_color" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom wow fadeInLeft" data-wow-delay="0.9s">
                <div class="footer_bottom_list">
                    <div class="row">
                        <div class="col-xl-6">
                            <ul class="footer_nav list-unstyled">
                                <li><a href="portfolio-2-column.html">Portfolio</a></li>
                                <li><a href="team.html">our team</a></li>
                                <li><a href="pricing.html">pricing plan</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="contact.html">contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <ul class="footer_nav right list-unstyled">
                                <li><a href="contact.html">Terms & conditions</a></li>
                                <li><a href="contact.html">privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer_copyright">
                    <p>© 2022 PicmaticWeb, All Rights Reserved </p>
                </div>
            </div>
        </div>
        <div class="shape_img">
            <img src="assets/img/footer/1.png" alt="" class="one wow fadeInLeft" data-wow-delay="1.3s">
            <img src="assets/img/footer/2.png" alt="" class="two wow fadeInLeft" data-wow-delay="1.1s">
            <img src="assets/img/footer/3.png" alt="" class="three wow fadeInLeft" data-wow-delay="0.1s">
        </div>
    </footer>
