<header class="header_aria">
    <nav class="navbar navbar-expand-lg fixed-top bg-transfaren">
        <div class="container">
            <a class="navbar-brand" href="/">
                <!-- <img src="assets/img/logo/logo.png" alt="" class="logo"> -->U<sup>3</sup>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/"><i class="fa-solid fa-house-chimney"></i> </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/join">Join</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/partner">Partner</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Discover
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/explore">Explore</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                </ul>
                <div class="nav_buttons">
                    <a href="/about" class="cart">About</a>
                    <a href="/free-web3-workshop" class="contact_btn">Free IRL Workshops</a>
                </div>
            </div>
        </div>
    </nav>
</header>
